@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

body{
    background-image: url(../image/gradiente-fundo.png);
    background-repeat: no-repeat;
    background-position-x:center;
    background-position-y: top;
}

header {    
    padding: .4rem;
    border-bottom: #000 ;
    
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: .4rem 6rem;
}

.nav-list {
    display: flex;
    align-items: center;
    margin-top: .9rem;
    padding: 0.3rem 0;
    height: 3rem;
               
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
    
}

.nav-list ul ul{
    display: none;
}

.nav-list ul li:hover>ul{
    display: block;
}

.nav-list ul ul ul{
    margin-left: 4rem;
    top: 0px;
    position: absolute;
}

.nav-item {
    margin: 0;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    width: auto;
    height: 40px;
    text-align: center;
    line-height: 2rem;
    top: 0;
    
}

.nav-link {
    text-decoration: none;
    font-size: 1.9rem;
    color: #121212;
    text-shadow: 1px .5px 3px #202020;
    font-weight: 500;
        
}

.logo-image{
    margin-right: 2rem;
    height: 4.2rem;
}

.logo {
    display: flex;
    align-items: center;
}

.logo h1 {
    color: #121212;
    font-size: 2.8rem;
    font-style: italic;
    font-weight: bold;
    text-shadow: 1px .5px 3px #202020;
    
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

.linkedin-button{
    padding: 0.3rem 1rem;
    font-size: 3.5rem;
    border: none;
    color: #e5e5e0;
    background: #0b64c6;
    transition: 0.5s;
    border-radius: 50px;
    cursor: pointer;
}

.linkedin-button:hover {
    background: #e47b29;
    color: #fff;
   }

.linkedin-logo{
    padding-top: 0.4rem;
    display: inline;
    height: 2.8rem;
    align-items: center;
    justify-content: space-between;

}

.github-button{
    margin-left: 2rem;
    padding: 0.3rem 1rem;
    font-size: 3.5rem;
    border: none;
    color: #e5e5e0;
    background: #000;
    transition: 0.5s;
    border-radius: 50px;
    cursor: pointer;
}


.github-button:hover {
    background: #e47b29;
    color: #fff;
   }

.github-logo{
    padding-top: 0.4rem;
    display: inline;
    height: 2.8rem;
    align-items: center;
    justify-content: space-between;

}

.main{
    margin: 10rem 3rem 0 3rem;
    
}

.main-container{
    display: inline-flex;
}

.main-texto{
    justify-content: center;
    position: center;
    padding: 1.5rem;
    color: #121212;
        
}

.main-texto h1{
    font-style: italic;
    font-size: 5rem;
    text-shadow: 2px 1px 0px #e5e5e0;
}

.main-texto p{
    font-size: 3rem;
    text-align: justify;
}

.imagem-esquerda{
    width: 33%;
    height: 33%;
    margin-left: 10rem;
    box-shadow: 0px 0px 5px #121212;
    border-radius: 5px;
}

@media screen and (max-width: 900px) {
    .nav-bar {
        padding: 0.4rem 4rem;
    }
    .nav-item {
        display: none;
    }
    
    .logo-image{
        margin: 0 1rem;
        height: 3.1rem;
    }
        
    .logo h1 {
        color: #121212;
        font-size: 1.8rem;
        font-style: italic;
        font-weight: bold;
        text-shadow: .5px .25px 1.5px #202020;
        
    }

    .mobile-menu-icon {
        display: block;
        padding: 1rem 0rem;
    }
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 0.8rem;
    }
    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }
    
    .open {
        display: block;
    }

    .main{
        margin: 2rem 2rem 0 2rem;
        
    }
    
    .main-container{
        display: block;
    }
    
    .main-texto{
        justify-content: center;
        position: center;
        padding: 1.5rem;
        color: #121212;
        text-align: center;
            
    }
    
    .main-texto h1{
        font-style: italic;
        font-size: 4rem;
        text-shadow: 2px 1px 0px #e5e5e0;
    }
    
    .main-texto p{
        font-size: 2.4rem;
        text-align: center;
    
    }
    
    .imagem-esquerda{
        width: 70%;
        height: 70%;
        justify-content: center;
        margin: 0 7rem 0 7rem;
        box-shadow: 0px 0px 3px #121212;
        border-radius: 5px;
    }

    .github-logo{
        height: 1.8rem;
    }

    .github-button{
        font-size: 2.5rem;
        
    }

    .linkedin-logo{
        height: 1.8rem;
    }

    .linkedin-button{
        font-size: 2.5rem;
        
    }
}

footer{
    position: absolute;
    bottom: 0;
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color: #000;
}
